@font-face {
    font-family: "Roboto Condensed";
    src: url("./assets/RobotoCondensed-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Lighter";
    src: url("./assets/RobotoCondensed-Light.ttf");
    font-display: swap;
}

