.my-photo {
    width: 150px;
    border-radius: 75px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(81, 81, 255);
    padding: 0;
}

.title-box {
    margin: 50px;
    text-align: center;

    text-shadow: -3px 3px 5px black;
}

.eye-text {
    color: whitesmoke;
    font-size: 24px;
}

h2 {
    font-size: 32px;
}

.portfolio-box {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;

    padding: 5%;

    border-radius: 10px;
    background-color: whitesmoke;
}

.main-title {
    color: whitesmoke;
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter-button {
    background-color: #7777e6;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: 0px;

    transition: background-color .3s linear;
}

.filter-button:hover {
    transition: background-color .3s linear;
    background-color: #4b4b9b;
}

#buttons-container {
    text-align: center;
    margin-top: 50px;
}

.project {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.project:last-child {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

h3 {
    font-weight: normal;
}

.navbar {
    display: flexbox;
    flex-direction: row;

    text-align: center;
    margin-bottom: 60px;
    height: 30px
}

.navbar-item {
    color: whitesmoke;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: -2px 2px 2px black;

    padding-left: 25px;
    padding-right: 25px;

    transition: font-size .1s;
}

.navbar-item:hover {
    font-size: 24px;
    font-weight: bold;

    transition: font-size .1s linear;
}

.navbar-item:last-child {
    padding-right: 0px;
    border-right: 0px;
}

.section-title-container:first-child {
    margin-top: 0px;
}

.section-title-container {
    width: 200px;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: dashed 4px black;
}

.section-title {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.about-me {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.flex-container {
    margin-top: 25px;
    margin-bottom: 25px;

    display: flexbox;
    flex-direction: row;
    text-align: center;
}

.social-item {
    margin-left: 2.5px;
    margin-right: 2.5px;
}

@media(max-width: 800px) {
    .main-title {
        font-size: 42px;
    }

    .portfolio-box {
        margin-left: 0;
        margin-right: 0;
        padding: 5px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        text-align: unset;
    }

    .navbar-item {
        flex: 1;
        padding: 0;
        padding-bottom: 20px;
        margin: auto;
    }
}
.text-center {
    text-align: center;
}

.project-container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px dashed black;
}

.project-container:last-child {
    padding-bottom: 0px;
    border-bottom: 0px;
}

.project-image {
    margin: auto;
    height: 200px;
    width: 200px;

    border-radius: 15px;
    box-shadow: 3px 3px 8px;
    display: block;

    margin-bottom: 10px;
}

.project-title {
    font-family: 'Consolas';
    font-size: 32px;
}

.project-description {
    font-family: 'Consolas';
    font-size: 18px;
}

.languages-selection {
    text-align: right;
    margin-right: 10%;
}

.language {
    margin: 5px;

    color: whitesmoke;
    transition: background-color .3s linear;
    background-color: #7777e6;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.language:hover {
    transition: background-color .3s linear;
    background-color: #4b4b9b;
}
